<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

<link rel="stylesheet" href="style.css">
</head>

<body>
	<!-- Div for controller -->
	<div ng-controller="homeController">
		<div class="page-header">

			<div class="col-xs-2 col-md-1">
				<a href="{{user.image}}" class="thumbnail"> <img ng-src="{{user.image}}" alt="User">
				</a>
					<input class="bottom-marg-15" type="file" name="file" id="newUserPic" file></input>
					<button ng-click="userImageUpload()">Upload</button>

			</div>
			<h1>
				Postage <small>Everyone's your friend!</small>
			</h1>
		</div> <!-- end of header -->
		
		<nav class="navbar navbar-default" style="margin-top: 65px;">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>

				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">

						<li><a ng-click="getHome()">Home</a></li>
						<!-- edit these links -->
					<!-- 	<li><a href="#!updatePass">Update Password</a></li>   Amputated-->
					</ul>

					<form class="navbar-form navbar-left">
						<div class="form-group">
							<input type="text" ng-model="searchUser.name"
								class="form-control" placeholder="Search" />
						</div>
						<button ng-click="getSearch()" class="btn btn-default">Search</button>
					</form>

					<ul class="nav navbar-nav navbar-right">
						<li><button ng-click="logout()">Logout</button></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<!-- Whole container -->
		<div class="container">

			<!-- display and edit user information -->
			<div class="panel panel-default" style="display: inline-block"
				id="left">
				<div class="panel-heading">
					<h3 class="panel-title">User Information</h3>
				</div>
				<div class="panel-body">
					
					
					
					<!-- if postList exists, dont show edit button if home is pressed or default, the edit button should show -->
					<button ng-if="editInfoClicked != true && userPostsSelected == null" ng-click="editInfo()" class="btn btn-default">Edit Information</button>
					<div ng-if="editInfoClicked != true">
						{{user.username}}<br>
						{{user.firstName}}
						{{user.lastName}}<br>
						{{user.email}}
					</div>
					
					<input ng-if="editInfoClicked" ng-model="editUser.firstName" ng-value="user.firstName" /> 
					<input ng-if="editInfoClicked" ng-model="editUser.lastName" ng-value="user.lastName" />
					<input ng-if="editInfoClicked" ng-model="editUser.email" ng-value="user.email" />
					<button ng-if="editInfoClicked" ng-click="saveInfo()" class="btn btn-default">Save Information</button>
					
				</div>
			</div>
			<!-- Status Input -->
			<div class="col-md-3 col-md-offset-2">

				<!-- <div ng-controller="UploadController" class="panel-body">
						<input class="bottom-marg-15" type="file" name="file" file></input>
						<button  class="btn btn-default" ng-click="upload()">Upload an Image</button>
					</div> -->

				<input type="text" class="form-control" id="postField" ng-model="userPost.content"
					placeholder="Enter a Status" aria-describedby="basic-addon1">

				<input class="bottom-marg-15" type="file" name="file" id="postImage" file></input>

				<button ng-click="submitPost()" class="btn btn-info">Submit</button>
			</div>
			<br>
			<div ng-show="addedPost.content">
				{{addedPost.postImage}}<br> {{addedPost.content}}<br>
				Original Poster: {{addedPost.postCreator}}<br> Likes:
				{{addedPost.likeCount}}<br> Time: {{addedPost.createdTime}}<br>
			</div>


			<!-- This is where the posts will go --><br>
			<!-- <button type="button" class="btn btn-default" ng-click="getAllPosts()">Get All Posts</button>
								
			<div class="panel-body" ng-if="allPostList">

				<ul class="list-group">
					<div ng-repeat="post in allPostList">
						<li class="list-group-item">
						Image:<br><img ng-src="{{post.postImage}}"/><br>
						Post:  <br>
						Posted By:  <br>
						Time: </li>
					</div>
				</ul> -->


			<!-- search results -->
			<div class="panel panel-default" style="display: inline-block"
				id="right">
				<div class="panel-heading">
					<h3 class="panel-title">Search Results</h3>
				</div>

				<!-- displays user search results  -->
				<div class="panel-body" ng-if="userList">

					<ul class="list-group">
						<div ng-repeat="user in userList">

							<li class="list-group-item">{{user.firstName}} {{user.lastName}} <br>
							<button type="button" class="btn btn-default" ng-click="getSelectedUserPosts(user)">Select Profile</button>

							<!--  <li class="list-group-item">{{user.username}}
								{{user.firstName}} {{user.lastName}} <br>
								<button type="button" class="btn btn-default"
									ng-click="getSelectedUserPosts()">Select Profile</button> <!-- <button type="button" class="btn btn-default" ng-click="getSelectedUserPosts({{user.username}})">Select Profile</button> -->

							</li>
						</div>
					</ul>
				</div>
			</div>

		<!-- displaying posts from a selected user -->
		<div class="panel-body" ng-if="postList" id="center">
					<div class="list-group" ng-if="postList"  ng-repeat="post in postList">
						<li class="list-group-item" id ="toobig">
						Image:<br><img ng-src="{{post.postImage}}"/><br>
						Post: {{post.content}} <br>
						Posted By: {{post.postCreator.username}} <br>
						Likes: {{post.likeCount}}<button type="button" class="btn btn-default" ng-click="likePost(post.id)">Like Post</button>
						</li>
					</div>
				</ul>
				<!--  <button type="button" class="btn btn-default" ng-click="morePosts()" hidden>More Posts</button>  -->
		</div>

	</div>
</div>
	<!-- /end of controller -->


	

</body>
</html>
