<div ng-controller="login">
<div class="col-md-4 col-md-offset-4 form-signin">
     <h2 class="form-signin-heading">Postage Social Network</h2>
    <form ng-submit="" class="">
    	<div class="form-group">
    		<input placeholder="Username" name="username" class="" ng-model="login.username" required/>
    	</div>
    	<div class="form-group">
    		<input placeholder="Password" type="password" name="password" class="" ng-model="login.password" required/>
    	</div>
	    
	    <div class="form-group">
	    	<button ng-click="loginUser()" class="btn btn-default">Submit</button> <!-- a submit button -->
	    </div>
	</form>
	<a href="#!register">Click here to register</a><br><a href="#!reset">Forgot your password?</a>
</div>
</div>
