<div ng-controller="register">
<div class="col-md-4 col-md-offset-4 form-signin">
        <h2 class="form-signin-heading">Postage Social Network</h2>

	<a href="#!login">Back to login</a>
	<form>
		<div class="form-group">
			<input id="firstName" placeholder="First Name" name="firstName" ng-model="info.firstName" required/> <!-- First Name -->
	    	<input id="lastName" placeholder="Last Name" name="lastName" ng-model="info.lastName" required/> <!-- Last Name -->
		</div>
		<div class="form-group">
			<input id="userName" placeholder="Username" name="username" ng-model="info.username" required/> <!-- UserName -->
		</div>
		<div class="form-group">
			<input id="password" placeholder="Password" type="password" name="password" ng-model="info.password" required/> <!-- Password TWICE -->
	    	<input id="passwordCheck" placeholder="Retype Password" type="password" required/>
		</div>
		<div class="form-group">
			<input id="email" placeholder="Type in your Email" name="email" type="email" ng-model="info.email" required/> <!-- Email -->
		</div>
		<div class="form-group">
			<button ng-click="checkUsername()" class="btn btn-default">Submit</button> <!-- a submit button -->
		</div>
    </form>
   		
   		<!--ng-if="{{uniqueError}} != &quot&quot"-->
   		<div>
			{{uniqueError}}
		</div>
		
		<!--ng-if="{{passwordError}} != &quot&quot"-->
		<div>
			{{passwordError}}
		</div>
		
		<!--ng-if="{{fieldsError}} != &quot&quot"-->
		<div>
			{{fieldsError}}
		</div>
</div>
</div>
