@CHARSET "ISO-8859-1";

.panel{
	height: 400px;
	width: 200px;   
}

#left {
	float: left;
}

#right {
	float: right;
}

#center {
	float: right;
	left: -50%; /* or right 50% */
	text-align: left;
	width: 50%;

}
#toobig{
	width: 100%;
}