<div ng-controller = "updatePass">
<div class="col-md-4 col-md-offset-4">	
	<form>
		    <input id="password" placeholder="Password" type="password" name="password" ng-model="update.password" required/> <!-- Password TWICE -->
		    <input id="passwordCheck" placeholder="Retype Password" type="password" ng-model="update.password2" required/>
		    <button ng-click="updatePass()" class="btn btn-default">Submit</button> <!-- a submit button -->
	</form>
	</div>
</div>